# packaging
pip>=9
setuptools>=26
#twine
wheel>=0.29

# data science
numpy==1.19.5
pandas
scikit-learn
tensorflow

# tests/linter
#black
#coverage
#flake8
#pytest
#yapf

# API
gcsfs
google-cloud-storage
#mlflow
#s3fs
fastapi
multipart
python-multipart

# utilities
#joblib
#memoized-property
#termcolor
uvicorn
